<div class="container" [hidden]="submittedSearch">
  <h1>Search a Bike</h1>
  <ul>
    <br>
    <form  (ngSubmit)="onSubmitSearch()" class="d-flex" role="search" >
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
             [(ngModel)]="idToSearch" name="search" required>
      <div class="selection-buttons">
        <button class="btn btn-outline-success" type="submit" >Search</button>
        <button class="btn btn-outline-secondary" routerLink="" >Exit</button>
      </div>
    </form>
    <br>
  </ul>
</div>

<<div class="container" [hidden]="!submittedSearch" #readContent>
  <h1 style="font-size: 2em; margin-bottom: 20px;">Data Review</h1>
  <section class="description">
    <ul style="list-style-type: none; padding: 0;">
      <div style="padding: 20px; background-color: #f8f9fa; border-radius: 5px;">
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-xs-3"><strong>ID:</strong> {{ bike.id }}</div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-xs-3"><strong>Model Number:</strong> {{ bike.partNumber }}</div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-xs-3"><strong>Description:</strong> {{ bike.description }}</div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-xs-3"><strong>Size of Bicycle Frame:</strong> {{ bike.sizeFrame }}</div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-xs-3"><strong>Wheel Size:</strong> {{ bike.sizeWheel }}</div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-xs-3"><strong>Is Mountain Bike?:</strong> {{ bike.isMTB }}</div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-xs-3"><strong>Date of Manufacture:</strong> {{ bike.manufacturedDate }}</div>
        </div>
      </div>
    </ul>
    <div class="selection-buttons">
      <div class="selection-buttons">
        <button (click)="updateBike(bike.id)" class="btn btn-info">Update</button>
        <button (click)="deleteBike(bike.id)" class="btn btn-danger">Delete</button>
      </div>
      <div class="selection-buttons">
        <button (click)="exportAsPdf()" class="btn btn-outline-secondary">Export as PDF</button>
        <button class="btn btn-outline-secondary" routerLink="">Exit</button>
      </div>

    </div>
  </section>
</div>
