
<div class="container">
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #create="ngForm">
      <br>
    <h1>Include Bike</h1>
      <br>
    <div class="form-group">
      <div>
        <label for="partNumber">Model Number*</label>
        <input type="number" class="form-control" id="partNumber"
               required
               [(ngModel)]="bike.partNumber" name="partNumber" #partNumber="ngModel" pattern="[0-9]*">
        <div [hidden]="partNumber.valid || !partNumber.touched"
             class="alert alert-danger">
          Model Number is required
        </div>
      </div>
      <br>


      <div class="form-group">
        <label for="description">Description*</label>
        <input type="text" class="form-control" id="description"
               required
               [(ngModel)]="bike.description" name="description"  #description="ngModel">
        <div [hidden]="description.valid || !description.touched"
             class="alert alert-danger">
          Description is required
        </div>
      </div>
      <br>
      <br>
      <mat-form-field>
        <mat-label>Date of Manufacture</mat-label>
        <input matInput [matDatepicker]="picker"
               required
               [(ngModel)]="bike.manufacturedDate" name="createdDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="form-group">
        <p>Bike Type</p>
        <input type="radio" id="mtb" name="bikeType" [(ngModel)]="bikeType" value='MTB' required>
        <label for="MTB">Mountain Bike</label><br>
        <input type="radio" id="spd" name="bikeType" [(ngModel)]="bikeType" value='SPD' required>
        <label for="SPD">Speed Bike</label><br>
      </div>
      <br>

      <div class="form-group" *ngIf="bikeType === 'MTB'">
        <label for="MTBsizeFrame">Size of Bicycle Frame</label>
        <select class="form-control" id="MTBsizeFrame" [(ngModel)]="bike.sizeFrame" name="sizeFrame">
          <option *ngFor="let size of mountainBikeFrameSizes" [value]="size">{{size}}</option>
        </select>
      </div>

      <div class="form-group" *ngIf="bikeType === 'SPD'">
        <label for="SPDsizeFrame">Size of Bicycle Frame</label>
        <select class="form-control" id="SPDsizeFrame" [(ngModel)]="bike.sizeFrame" name="sizeFrame">
          <option *ngFor="let size of speedBikeFrameSizes" [value]="size">{{size}}</option>
        </select>
      </div>

      <div class="form-group" *ngIf="bikeType === 'MTB'">
        <label for="MTBsizeWheel">Wheel Size</label>
        <select class="form-control" id="MTBsizeWheel" [(ngModel)]="bike.sizeWheel" name="sizeWheel">
          <option *ngFor="let size of mountainBikeWheelSizes" [value]="size">{{size}}</option>
        </select>
      </div>

      <div class="form-group" *ngIf="bikeType === 'SPD'">
        <label for="SPDsizeWheel">Wheel Size</label>
        <select class="form-control" id="SPDsizeWheel" [(ngModel)]="bike.sizeWheel" name="sizeWheel">
          <option *ngFor="let size of speedBikeWheelSizes" [value]="size">{{size}}</option>
        </select>
      </div>

      <br>
      <div class="selection-buttons">
        <button type="submit" class="btn btn-success" [disabled]="!create.form.valid">Include</button>
        <button type="button" class="btn btn-outline-secondary" routerLink=""> Exit </button>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    </form>
  </div>


  <div [hidden]="!submitted">
    <section class="description">
      <ul style="list-style-type: none; padding: 0;">
        <div style="padding: 20px; background-color: #f8f9fa; border-radius: 5px;">
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-3"><strong>Model Number:</strong> {{ bike.partNumber }}</div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-3"><strong>Description:</strong> {{ bike.description }}</div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-3"><strong>Size of Bicycle Frame:</strong> {{ bike.sizeFrame }}</div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-3"><strong>Wheel Size:</strong> {{ bike.sizeWheel }}</div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-3"><strong>Is Mountain Bike?:</strong> {{ bike.isMTB }}</div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-3"><strong>Date of Manufacture:</strong> {{ bike.manufacturedDate }}</div>
          </div>
        </div>
      </ul>
    <br>
    <div class="selection-buttons">
      <button class="btn btn-success" (click)="newBike(create)">Include Another Bike</button>
      <button class="btn btn-outline-secondary" routerLink="">Exit</button>
    </div>
    </section>
  </div>
</div>
