
<div class="container">
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #create="ngForm">
      <br>
    <h1>Include Bike</h1>
      <br>
    <div class="form-group">
      <div>
        <label for="partNumber">Model Number*</label>
        <input type="number" class="form-control" id="partNumber"
               required
               [(ngModel)]="bike.partNumber" name="partNumber" #partNumber="ngModel" pattern="[0-9]*">
        <div [hidden]="partNumber.valid || !partNumber.touched"
             class="alert alert-danger">
          Model Number is required
        </div>
      </div>
      <br>


      <div class="form-group">
        <label for="description">Description*</label>
        <input type="text" class="form-control" id="description"
               required
               [(ngModel)]="bike.description" name="description"  #description="ngModel">
        <div [hidden]="description.valid || !description.touched"
             class="alert alert-danger">
          Description is required
        </div>
      </div>
      <br>
      <br>
      <mat-form-field>
        <mat-label>Date of Manufacture</mat-label>
        <input matInput [matDatepicker]="picker"
               required
               [(ngModel)]="bike.createdDate" name="createdDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <div class="form-group">
        <p>Bike Type</p>
        <input type="radio" id="mtb" name="bikeType" [(ngModel)]="bikeType" value='MTB'>
        <label for="MTB">Mountain Bike</label><br>
        <input type="radio" id="spd" name="bikeType" [(ngModel)]="bikeType" value='SPD'>
        <label for="SPD">Speed Bike</label><br>
      </div>
      <br>

      <div class="form-group" *ngIf="bikeType === 'MTB'">
        <label for="MTBsizeFrame">Size of Bicycle Frame</label>
        <select class="form-control" id="MTBsizeFrame" [(ngModel)]="bike.sizeFrame" name="sizeFrame">
          <option *ngFor="let size of mountainBikeFrameSizes" [value]="size">{{size}}</option>
        </select>
      </div>

      <div class="form-group" *ngIf="bikeType === 'SPD'">
        <label for="SPDsizeFrame">Size of Bicycle Frame</label>
        <select class="form-control" id="SPDsizeFrame" [(ngModel)]="bike.sizeFrame" name="sizeFrame">
          <option *ngFor="let size of speedBikeFrameSizes" [value]="size">{{size}}</option>
        </select>
      </div>

      <div class="form-group" *ngIf="bikeType === 'MTB'">
        <label for="MTBsizeWheel">Wheel Size</label>
        <select class="form-control" id="MTBsizeWheel" [(ngModel)]="bike.sizeWheel" name="sizeWheel">
          <option *ngFor="let size of mountainBikeWheelSizes" [value]="size">{{size}}</option>
        </select>
      </div>

      <div class="form-group" *ngIf="bikeType === 'SPD'">
        <label for="SPDsizeWheel">Wheel Size</label>
        <select class="form-control" id="SPDsizeWheel" [(ngModel)]="bike.sizeWheel" name="sizeWheel">
          <option *ngFor="let size of speedBikeWheelSizes" [value]="size">{{size}}</option>
        </select>
      </div>

      <br>
      <div class="selection-buttons">
        <button type="submit" class="btn btn-success" [disabled]="!create.form.valid">Include</button>
        <button type="button" class="btn btn-outline-secondary" routerLink=""> Exit </button>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>Data review:</h2>
    <div class="row">
      <div class="col-xs-3">Model Number</div>
      <div class="col-xs-9">{{ bike.partNumber }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Description</div>
      <div class="col-xs-9">{{ bike.description }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Size of Bicycle Frame</div>
      <div class="col-xs-9">{{ bike.sizeFrame }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Wheel Size</div>
      <div class="col-xs-9">{{ bike.sizeWheel }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Is Mountain Bike?</div>
      <div class="col-xs-9">{{ bike.isMTB }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Date of Manufacture</div>
      <div class="col-xs-9">{{ bike.createdDate }}</div>
    </div>
    <br>
    <div class="selection-buttons">
      <button class="btn btn-success" (click)="newBike()">Include Another Bike</button>
      <button class="btn btn-outline-secondary" routerLink="">Exit</button>
    </div>

  </div>
</div>
