<div class="container" #content>
  <h1>Bike List</h1>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Part Number</th>
      <th>Description</th>
      <th>Frame Size</th>
      <th>Wheel Size</th>
      <th>Mountain Bike?</th>
      <th>Manufactured Date</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bike of bikes">
      <td>{{bike.id}}</td>
      <td>{{ bike.partNumber }}</td>
      <td>{{ bike.description }}</td>
      <td>{{ bike.sizeFrame }}</td>
      <td>{{ bike.sizeWheel }}</td>
      <td>{{ bike.isMTB ? 'Yes' : 'No' }}</td>
      <td>{{ bike.createdDate}}</td>
      <td><button (click)="updateBike(bike.id)" class="btn btn-info">Update</button></td>
      <td><button (click)="deleteBike(bike.id)" class="btn btn-danger">Delete</button></td>
    </tr>
    <tr *ngIf="bikes.length == 0">
      <td colspan="7" class="alert alert-warning">No bikes found</td>
    </tr>
    </tbody>
  </table>
  <div class="selection-buttons">
    <button class="btn btn-success" routerLink="create">Include</button>
    <button (click)="exportAsPdf()" class="btn btn-outline-secondary">Export as PDF</button>
  </div>
</div>
