.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1000px;
  margin: 80px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.description {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.description p {
  line-height: 1.5;
  margin-bottom: 10px;
}

.description ul {
  list-style: none;
  padding: 0;
}

.description li {
  margin-bottom: 10px;
}
