<div class="container" [hidden]="submittedUpdate">
  <h1>Bike List</h1>

  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Part Number</th>
      <th>Description</th>
      <th>Frame Size</th>
      <th>Wheel Size</th>
      <th>Mountain Bike?</th>
      <th>Manufactured Date</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bike of bikes">
      <td>{{bike.id}}</td>
      <td>{{ bike.partNumber }}</td>
      <td>{{ bike.description }}</td>
      <td>{{ bike.sizeFrame }}</td>
      <td>{{ bike.sizeWheel }}</td>
      <td>{{ bike.isMTB ? 'Yes' : 'No' }}</td>
      <td>{{ bike.createdDate}}</td>
      <td><button (click)="updateBike(bike)" class="btn btn-info">Update</button></td>
      <td><button (click)="deleteBike(bike.id)" class="btn btn-danger">Delete</button></td>
    </tr>
    <tr *ngIf="bikes.length == 0">
      <td colspan="7" class="alert alert-warning">No bikes found</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container" [hidden]="!submittedUpdate">
  <div>
    <form (ngSubmit)="onSubmit()" #update="ngForm">
      <br>
      <h1>Update Bike {{idAux}}</h1>
      <br>
      <div class="form-group">
        <label for="partNumber">Model Number</label>
        <input type="number" class="form-control" id="partNumber"
               required
               [(ngModel)]="bike.partNumber" name="partNumber" #partNumber="ngModel">
        <div [hidden]="partNumber.valid"
             class="alert alert-danger">
          Model Number is required
        </div>
        <br>


        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description"
                 required
                 [(ngModel)]="bike.description" name="description"  #description="ngModel">
          <div [hidden]="description.valid"
               class="alert alert-danger">
            Description is required
          </div>
        </div>
        <br>

      </div>
      <div class="form-group">
        <label for="sizeFrame">Size of Bicycle Frame</label>
        <input type="number" class="form-control" id="sizeFrame"
               [(ngModel)]="bike.sizeFrame" name="sizeFrame" #sizeFrame="ngModel">
      </div>
      <br>

      <div class="form-group">
        <label for="sizeWheel">Wheel Size</label>
        <input type="number" class="form-control" id="sizeWheel"
               [(ngModel)]="bike.sizeWheel" name="sizeWheel" #sizeWheel="ngModel">
      </div>
      <br>

      <div class="form-group">
        <label>Is Mountain Bike?</label><br>
        <label class="radio-inline">
          <input type="radio" [(ngModel)]="bike.isMTB" value="true" name="ismtb" required> Sim
        </label>
        <label class="radio-inline" style="margin-left: 10px;">
          <input type="radio" [(ngModel)]="bike.isMTB" value="false" name="ismtb" required> Não
        </label>
        <div [hidden]="bike.isMTB" class="alert alert-danger">
          This selection is required
        </div>
      </div>
      <br>

      <mat-form-field>
        <mat-label>Date of Manufacture</mat-label>
        <input matInput [matDatepicker]="picker"
               required
               [(ngModel)]="bike.createdDate" name="createdDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <br>

      <button type="submit" class="btn btn-success" [disabled]="!update.form.valid">Update</button>

      <br>
      <br>
      <br>
      <br>
      <br>
    </form>
  </div>
</div>

